<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.educate.boot.demo.dao.UserMapper">


    <sql id="userTable">
        t_user_table
    </sql>

    <insert id="addUser" >
        insert into <include refid="userTable"/>
        (name,identity_card,birth_day,remark,gender,create_time,update_time) value(#{name},#{identityCard},#{birthDay},#{remark},#{gender},now(),now())
    </insert>

    <update id="updateUser">
        update <include refid="userTable"/>
        set name = #{name},identity_card =#{identityCard},
            birth_day =#{birthDay},remark =#{remark},update_time=now()
        where id = #{id}
    </update>

    <delete id="deleteUser">
        delete from <include refid="userTable"/>
        where id = #{id}
    </delete>

    <select id="listUser" resultType="cn.educate.boot.demo.model.dto.UserDTO">
        select id,name,identity_card,birth_day,remark
        from <include refid="userTable"/>
        <where>
            <if test="id!=null">
                and id = #{id}
            </if>
            <if test="name!=null and name!=''">
                and name like '%${name}%'
            </if>
        </where>
    </select>


</mapper>